@font-face {
  font-family: "Museo Sans Light";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Bold";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1170px;
  width: 96%;
  margin: auto;
}
@media (max-width: 640px) {
  .container {
    width: 90%;
  }
}

body {
  font-family: "Museo Sans Light";
  font-weight: 300;
}

.header {
  padding: 20px 0;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-info {
  display: flex;
  text-align: right;
}
.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 640px) {
  .header-contacts {
    display: none;
  }
}
.header__address {
  color: #333;
  font-size: 13px;
  font-weight: 400;
}
.header__phone {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin-top: 12px;
  font-family: "Museo Sans Bold";
  font-weight: 700;
}
.header-button {
  padding: 19px 47px;
  color: #333;
  background-color: #ffd200;
  border: none;
  border-radius: 10px;
  margin-left: 30px;
  font-family: "Museo Sans Bold";
  font-weight: 700;
}

.main {
  background-color: rgba(245, 245, 245, 0.6431372549);
}
.main-block {
  display: flex;
  padding: 40px 0 15px 0;
}
@media (max-width: 1200px) {
  .main-block {
    flex-direction: column;
  }
}
.main-text {
  flex-basis: 50%;
}
@media (max-width: 1200px) {
  .main-text {
    margin-bottom: 30px;
  }
}
.main-text__title {
  line-height: 55px;
  font-size: 41px;
  color: #333;
  margin: 45px 0 20px 0;
  font-family: "Museo Sans Bold";
  font-weight: 700;
}
@media (max-width: 640px) {
  .main-text {
    font-size: 38px;
    line-height: 1.4;
  }
}
.main-text__subtitle {
  color: #333;
  font-size: 20px;
  line-height: 65px;
  margin-top: 46px;
  font-family: "Museo Sans Bold";
  font-weight: 700;
}
.main-image {
  padding-right: -55px;
}
@media (max-width: 1200px) {
  .main-image {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .main-image img {
    width: 100%;
  }
}
.main-list {
  margin: 40px 0 0 0;
  padding: 0 0 0 0;
}
@media (max-width: 640px) {
  .main-list {
    margin: 30px 0 0 0;
  }
}
.main-list__item {
  display: flex;
  align-items: center;
}
@media (max-width: 640px) {
  .main-list__item {
    margin-bottom: 15px;
  }
}
.main-list__text {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 20px;
  max-width: 290px;
}
@media (max-width: 640px) {
  .main-list__text {
    font-size: 12px;
    max-width: 250px;
  }
}
.main-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */